/* Variables */

:root {
  /* Color */

  --color-background-primary: hsl(0, 0%, 100%);
  --color-background-secondary: hsl(0, 0%, 98%);
  --color-background-tertiary: hsl(0, 0%, 95%);

  --color-text-primary: hsl(0, 0%, 0%);
  --color-text-secondary: hsl(0, 0%, 40%);
  --color-text-tertiary: hsl(0, 0%, 80%);

  --color-white: hsl(0, 0%, 99%);

  --color-accent-primary: hsl(137, 63%, 33%);
  --color-accent-secondary: hsl(137, 63%, 34%);

  --color-border: var(--color-text-tertiary);

  /* Typography */

  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 15px;
  --text-lg: 20px;

  --text-thin: 300;
  --text-normal: 400;
  --text-bold: 500;
  --text-title: 600;

  /* Radius */

  --radius-sm: 6px;
  --radius-full: 50%;

  /* Size */

  --space-xxxs: 4px;
  --space-xxs: 6px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 32px;
  --space-xl: 64px;

  --icon-sm: var(--text-xs);
  --icon-md: var(--text-lg);

  --button-sm: 28px;
  --button-md: 32px;

  --surface-md: 64px;
  --surface-md: 32px;
  --surface-md: 64px;
  --surface-lg: 320px;
  --surface-xl: 704px;

  /* Border */

  --border-regular: 1px solid var(--color-border);
}

/* Resets */

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
}

img,
svg {
  height: 100%;
}

a {
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

/* Components */

.title {
  font-weight: var(--text-title);
}

h1,
h3 {
  font-size: var(--text-base);
  margin: 0;
}

.group {
  display: flex;
}

.icon {
  aspect-ratio: 1 / 1;

  &.small {
    height: var(--icon-sm);
    stroke-width: 2;
  }
}

.button {
  height: var(--button-md);
  width: fit-content;

  display: flex;
  align-items: center;
  gap: var(--space-xxs);

  color: var(--color-text-secondary);
  font-size: var(--text-sm);
  font-weight: var(--text-normal);

  padding: var(--space-xxs);

  outline: var(--border-regular);
  border-radius: var(--radius-sm);

  cursor: pointer;

  &:hover {
    background-color: var(--color-background-tertiary);
  }

  &.small {
    height: var(--button-sm);
    font-size: var(--text-xs);
    gap: var(--space-xxxs);
    padding-inline: 8px;

    & .icon {
      height: var(--icon-sm);
      stroke-width: 2.5;
    }
  }

  &.primary {
    outline: none;
    background-color: var(--color-accent-primary);
    color: var(--color-white);
    font-weight: var(--text-bold);

    & .icon {
      stroke-width: 3;
    }

    &:hover {
      background-color: var(--color-accent-secondary);
    }
  }

  &.title {
    outline: none;
    font-weight: var(--text-title);
    color: var(--color-text-primary);
  }

  &:has(.pfp) {
    padding: 0;

    border-radius: var(--radius-full);
    outline: none;
  }
}

.repo-link {
  display: flex;
  align-items: center;
  gap: var(--space-xxs);

  font-size: var(--text-sm);
  font-weight: var(--text-normal);
  height: 1lh;

  text-decoration: none;
}

/*  Main shit */

body {
  min-height: 100vh;

  background-color: var(--color-background-primary);
  color: var(--color-text-primary);

  font-size: var(--text-base);
  line-height: 1.5;

  display: grid;
  grid-template-rows: var(--surface-md) 1fr;
  grid-template-columns: var(--surface-lg) 1fr;
  grid-template-areas:
    "header header"
    "user-activity home";
}

body > * {
  outline: var(--border-regular);
  padding: var(--space-md);
}

#header {
  grid-column: 1 / -1;

  height: var(--space-xl);

  align-items: center;
  gap: var(--space-sm);

  background-color: var(--color-background-secondary);
  color: var(--color-text-secondary);

  z-index: 1;
}

#header .title {
  font-size: var(--text-base);
}

#header .group {
  align-items: center;
  gap: var(--space-sm);

  &#header-title {
    gap: var(--space-xxs);
  }
}

#header .separator {
  width: 1px;
  height: var(--space-md);

  background-color: var(--color-border);
}

#header-title {
  margin-right: auto;
}

#header-search #search-button {
  width: 256px;
}

#user-activity {
  grid-area: user-activity;
}

#recent-repos header {
  align-items: center;
  margin-bottom: var(--space-sm);
}

#recent-repos .title {
  margin-right: auto;
}

#recent-repos .repo-link {
  margin-bottom: var(--space-sm);
}
