:root {
  --color-background-primary: hsl(0, 0%, 100%);
  --color-background-secondary: hsl(0, 0%, 99%);
  --color-background-tertiary: hsl(0, 0%, 97%);
  --color-border: hsl(0, 0%, 80%);
  --color-icon: hsl(0, 0%, 50%);
  --color-text-primary: hsl(0, 0%, 20%);
  --color-text-secondary: var(--color-icon);
  --size-button: 32px;
  --size-icon: 20px;
  --border-radius: 6px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  height: 100vh;
  font-family: system-ui, sans-serif;
  color: var(--color-text-primary);
  background-color: var(--color-background-primary);

  li {
    list-style: none;
  }

  img,
  svg {
    height: 100%;
    aspect-ratio: 1 / 1;
  }

  .icon {
    height: var(--size-icon);
  }

  .profile-picture {
    height: var(--size-icon);
    border-radius: 50%;
  }

  .repo-link {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
  }

  .repo-name {
    font-size: 14px;
  }

  section {
    padding: 16px;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: fit-content;

    h3 {
      font-size: 14px;
      font-weight: 600;
    }
  }

  a {
    color: var(--color-text-primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .button {
    background-color: transparent;
    border: 1px solid var(--color-border);
    color: var(--color-icon);
    cursor: pointer;
    padding: 0;
    border-radius: var(--border-radius);
    height: var(--size-button);
    width: var(--size-button);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: var(--color-background-tertiary);
    }
  }
}

body > header {
  grid-column: 1 / -1;
  background-color: var(--color-background-secondary);
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 8px;
  position: relative;

  h1 {
    margin-right: auto;
    font-size: 15px;
    font-weight: 600;
  }

  #search-button {
    padding: 8px 12px;
    width: calc(128px * 2);
    justify-content: flex-start;
    display: flex;
    gap: 6px;

    svg {
      --size-icon: 16px;
      height: var(--size-icon);
      width: var(--size-icon);
    }
  }

  #profile-button {
    border: none;

    & .profile-picture {
      height: var(--size-button);
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-border);
  }
}

body > aside {
  grid-column: 1;
  width: calc(128px * 2.5);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: var(--color-border);
  }
}

#recent-repos {
  border: none;

  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .profile-picture {
    border-radius: 4px;
  }

  .repo-name {
    font-size: 14px;
    font-weight: normal;
  }

  .button {
    border: none;
    width: fit-content;
    height: fit-content;
    display: inline-block;
    margin: 4px;
    font-size: 14px;

    &:hover {
      background-color: initial;
      text-decoration: underline;
    }
  }
}

body > div {
  grid-column: 2;
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 16px;
}

body > div > main {
  flex-basis: 856px;
}

body > div > aside {
  flex: none;
  flex-basis: 356px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#updates {
  grid-column: 2;

  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  time {
    font-size: 12px;
    color: var(--color-text-secondary);
    display: block;
  }

  a {
    font-size: 14px;
  }
}

#explore {
  grid-column: 2;
  gap: 0;

  & > div {
    display: flex;
    flex-direction: column;
  }
}

#explore article {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 1em 0;
  border-bottom: 1px solid var(--color-border);

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}

#explore header {
  height: fit-content;
  display: flex;

  .repo-name {
    font-weight: 500;
  }

  .button {
    display: none;
  }
}

#explore p {
  font-size: 12px;
  color: var(--color-text-secondary);
}

#explore .repo-metadata {
  display: flex;
  gap: 12px;
  height: fit-content;

  span {
    font-size: 12px;
    color: var(--color-text-secondary);
    display: flex;
    align-items: center;
    gap: 4px;

    svg {
      --size-icon: 12px;
    }
  }

  .repo-star-count {
    svg {
      stroke-width: 2;
      --size-icon: 14px;
    }
  }

  .repo-primary-language {
    .go-language-accent-color {
      fill: #00add8;
    }

    .adblock-filter-list-language-accent-color {
      fill: #800000;
    }

    .javascript-language-accent-color {
      fill: #f1e05a;
    }
  }
}
